<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fever.liveppt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ppt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fever.liveppt.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PPT_Grid" />
        <activity android:name="PPT_upload" />
        <activity android:name="FileChooserActivity"/>
        <activity android:name="Meeting_List" />
        <activity android:name="Login_UI" />
        <activity android:name="RegisterActivity" />
    </application>

</manifest>